<div class="jumbotron text-center">
    <h1>MEAN Stack BlogsHub</h1>
    <p class="lead">Welcome to the MEAN Stack wordl where you will be able to share and disscuss all issues, latest features and experiences.</p>
    <div>

      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="btn btn-primary" routerLink='/register'>Register</a>
      <a href="#" class="btn btn-default">Login</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../../../assets/mongo.png" alt="placeholder image" width="140" height="140">
        <div class="caption">
          <p>MongoDB is a free and open-source cross-platform document-oriented database program. This NoSQL database program uses JSON-like documents with schemas.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class=thumbnail> <img src="../../../assets/expressJS.png" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
        </div>
      </div>
    </div>



    <div class="col-sm-6 col-md-3">
      <div class=thumbnail> <img src="../../../assets/angular.png" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <p>Angular is a development platform for building mobile and desktop web applications. Ut dignissim eleifend maximus. Ut dignissim eleifend maximus. Ut dignissim eleifend.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class=thumbnail> <img src="../../../assets/node.jpg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <p>Node.js (Node) is an open source development platform for executing JavaScript code server-side. Node.js is intended to run on a dedicated HTTP server and to employ a single thread with one process at a time.</p>
        </div>
      </div>
    </div>


  </div>
